# Flutter/Dart specific
src/android/build/
src/ios/build/
src/build/
*.iml
*.lock
*.metadata
src/.dart_tool/
src/.flutter-plugins-dependencies
src/.flutter-plugins

# Others
.DS_Store
.vscode/
.idea/
*.log
